body{
    background-color: rgb(48, 48, 48);
    text-align: center;
    font-family: sans-serif;
}
.listing{

}
.listing ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.listing li{
    border: none;
    background-color: rgb(63, 63, 63);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.listing .box-img{
    width: 25%;
    margin-right: 20px;
    background-repeat: repeat;
}
.listing li img{
    min-height: 100%;
}
.listing .meta-box{
    flex: 1;
}
.listing a {
        text-decoration: none;
}
.listing h3{
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
.listing p{
    padding: 0;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
.heade-share-link p{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1{
    color: white;

}
h2{
    color: white;

}
p{
    color: white;
}